$height:170px;
$width:400px;

:host {
  border: 1px solid black;
  display: inline-block;
  width: $width;
  height: $height;
  padding: 1em;
  font-size: 2.4rem;



  .task {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template: auto auto auto / auto 1fr auto;
    grid-template-areas: "index id ""name name";


    .index {
      grid-area: index;
    }

    .id {
      grid-area: id;
    }

    .name {
      grid-area: name;
      font-size: 1.2em;
      font-weight: bold;
    }



  }
}
