$height:260px;
$width:500px;

:host {
  border: 1px solid black;
  display: inline-block;
  width: $width;
  height: $height;
  padding: 1em;
  font-size: 1.2rem;



  .story {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template: auto auto auto / auto 1fr auto;
    grid-template-areas: "index id epic"
      "name name name"
      "priority empty point";


    .index {
      grid-area: index;
    }

    .id {
      grid-area: id;
    }

    .name {
      grid-area: name;
      font-size: 1.2em;
      font-weight: bold;
    }

    .point {
      grid-area: point;
    }

    .priority {
      grid-area: priority;
    }

    .epic {
      grid-area: epic;

    }

  }
}
